body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}
header {
  margin-top: 16px;
  margin-bottom: 48px;
}
footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}
h1 {
  font-size: 64px;
  margin-bottom: 16px;
}
.portrait {
  width: 250px;
}
header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

input {
  padding: 8px;
  /* border-radius: 10.9px; */
  border: 1 solid #cccccc;
}

button {
  cursor: pointer;
  padding: 8px;
  background-color: #888888;
  color: white;
  border: 1 solid #888888;
  /* border-radius: 10.9px; */
}
